@layer base {
  @font-face {
      font-family: 'Uni Neue';
      font-weight: 400;
      font-style: normal;
      src: url('/fonts/uni-neue-regular-webfont.woff') format('woff');
  }

  @font-face {
      font-family: 'Uni Neue';
      font-weight: 700;
      font-style: normal;
      src: url('/fonts/uni-neue-bold-webfont.woff') format('woff');
  }

  @font-face {
      font-family: 'Uni Neue';
      font-weight: 800;
      font-style: normal;
      src: url('/fonts/uni-neue-heavy-webfont.woff') format('woff');
  }

  em {
      font-family: 'Uni Neue', arial, sans-serif;
      font-weight: normal;
      font-style: italic;
  }

  strong {
      font-family: 'Uni Neue', arial, sans-serif;
      font-weight: 700;
      font-style: normal;
  }
}