/* Import custom styles */
@import './variables.scss';
@import './fonts.scss';

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .overtext {
    text-transform: uppercase;
    letter-spacing: 0.6px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Uni Neue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

