---

import Hero, { type HeroContentModel } from '../components/Hero/Hero';
import Layout from '../layouts/Layout.astro';
import './public/styles/tailwind.css';

const heroContent: HeroContentModel = {
    title: "<span class='text-white'>The <span class='text-primary-700 font-family-regular'>Best</span><br>Racing Events</span>",
    subtitle: "Stream thousands of dirt, drag, pavement, and snow races.",
    imageUrl: "https://d6fm3yzmawlcs.cloudfront.net/funnelAssets/dark-theme/floracing-hero-2.jpg",
	videoUrl: "https://d6fm3yzmawlcs.cloudfront.net/funnelAssets/videos/floracing_signup.mp4"
}
---



<Layout title="Signup to FloSports">
	<main>
		<!-- Hero -->
		 <Hero content{...heroContent} />
	</main>
</Layout>
