@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Uni Neue';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/uni-neue-regular-webfont.woff') format('woff');
  }
  @font-face {
    font-family: 'Uni Neue';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/uni-neue-bold-webfont.woff') format('woff');
  }
  @font-face {
    font-family: 'Uni Neue';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/uni-neue-heavy-webfont.woff') format('woff');
  }
  em {
    font-family: 'Uni Neue', arial, sans-serif;
    font-weight: normal;
    font-style: italic;
  }

  strong {
    font-family: 'Uni Neue', arial, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  :root {
    --primary-50: 254, 246, 245; /* #FEF6F5 */
    --primary-100: 255, 233, 232; /* #FFE9E8 */
    --primary-200: 253, 219, 215; /* #FDDBD7 */
    --primary-300: 255, 159, 145; /* #FF9F91 */
    --primary-400: 255, 84, 69; /* #FF5445 */
    --primary-500: 255, 20, 15; /* #FF140F */
    --primary-600: 211, 18, 13; /* #D3120D */
    --primary-700: 147, 2, 3; /* #930203 */
    --primary-800: 84, 0, 0; /* #540000 */
    --primary-900: 64, 2, 2; /* #400202 */
    --primary-950: 46, 0, 0; /* #2E0000 */
  }

  .varsity {
    --primary-50: 244, 248, 252; /* #F4F8FC */
    --primary-100: 233, 242, 250; /* #E9F2FA */
    --primary-200: 213, 228, 242; /* #D5E4F2 */
    --primary-300: 152, 189, 220; /* #98BDDC */
    --primary-400: 88, 150, 200; /* #5896C8 */
    --primary-500: 67, 137, 192; /* #4389C0 */
    --primary-600: 31, 111, 168; /* #1F6FA8 */
    --primary-700: 21, 74, 112; /* #154A70 */
    --primary-800: 7, 40, 64; /* #072840 */
    --primary-900: 3, 29, 49; /* #031D31 */
    --primary-950: 2, 18, 32; /* #021220 */
  }
}

@layer utilities {
  .overtext {
    text-transform: uppercase;
    letter-spacing: 0.6px;
  }
}

html.dark {
  @apply bg-gray-900;
}
